

/*HEADER
----------------------------------------------------*/

.logo {
  width: 50px;
  margin-top: 0px;
}

nav .main-nav {
  display: flex;
  font-size: 0.25rem;
  text-transform: uppercase;
  margin-top: 15px;
  list-style: none;
}
.main-nav li {
  margin-left: 36px;
}
.main-nav a {
  color: rgb(110, 109, 109);
}
.main-nav a:hover {
  color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: inset;
}

.wrapper {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 4%;
}



/*FOOTER
-------------------------------------------------------------*/

.footer {
  margin-top: 50px;
  border-top: inset;
  border-color: rgba(255, 255, 255, 0.404);
}

.footer .sns {
  text-align: right;
  margin: 20px;
}

.sns li {
  margin-left: 0px;
  margin-right: 20px;
  display: inline-block;
}

.sns li a {
  color: rgb(110, 109, 109);
  font-size: 0.25rem;
}

/* HOME
---------------------------------------------*/

/*moji--------*/
.home-content {
  text-align: center;
  margin-top: 10%;
}
.home-content p {
  font-size: 1.125rem;
  margin: 10px 0 42px;
}

.page-titel {
  font-size: 3rem;
  font-family: 'philosopher', serif;
  text-transform: uppercase;
  font-weight: normal;
}

/*home-photo-----*/

.home-photo {
  width: 100%;
  text-align: center;
  background-color: rgba(241, 237, 237, 0.651);
}

.home-photo li {
  width: 230px;
  display: inline-block;
  margin: 50px 70px;
}

.home-photo li .photo-text {
  display: block;
  width: 100%;
  margin-bottom: 7px;
  color: black;
  font-family: 'philosopher', serif;
}

.home-photo li .photo-img {
  display: block;
  width: 100%;
}

.home-photo li img {
  display: block;
  width: 100%;
}





/*  PROFILE
--------------------------------------------------------------*/

#profile {
  margin-bottom: 40px; 
}

#profile .page-titel {
  text-align: center;
}

.wrapper {
  text-align: center;
}

.profile_main {
  display: flex
  
}

.yamanaka {
  width: 50%;
  font-size: 30px;
  font-family: serif;
  margin: auto;
  margin-right: 0;
  padding: 30px;
  padding-right: 0;
}

.yamanaka p {
  border-bottom: solid;
  border-width: thin;
}


.honbun {
  color: black;
  padding: 8%;
  margin-left: 0;
  margin: 5%;
  margin-left: 0;
  width: 403px;
  mix-blend-mode: multiply;
  background: rgba(219, 219, 219, 0.651);
  border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
  font-family: Verdana, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;;
  font-size: 13px;
}












/*  HOBBY
--------------------------------------------------------------*/
#hobby {
  margin-bottom: 40px; 
}

#hobby .page-titel {
  text-align: center;
}

.wrapper, .main {
  text-align: center;
}

/* main ---------*/

.main {
  display: inline-block;
  text-align: center;
}

.main img {
  width: 340px;
  margin: 100px;
  border-radius: 50%;
}

.nakajimakento, .toukaionair, .tomholland {
  display: flex;
}

.nakajimakento img {
  margin-left: 100px;
}

.tomholland img {
  margin-right: auto;
}

span {
  color: red;
}

._name {
  font-family: 'philosopher', serif;
  font-size: 50px;
}

p .text {
  display: block;
}

._text {
  display: block;
  font-size: 20px;
}

.toukaionair p {
  margin-left: 60pz;
}

.left_moji, ._moji {
  text-align: center;
  margin: auto;
  padding: 50px;
}
